In [39]:
1+1

2

In [40]:
print("Hello")

Hello

In [41]:
str = "Hello world"

In [42]:
str

'Hello world'

In [43]:
str[::-1]

'dlrow olleH'

In [44]:
'Hello World'[8]

'r'

In [45]:
"Python {r}".format(r='rules!')

'Python rules!'

In [46]:
lst = [1,'hello',3,'a','b']
lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

 Dictionaries:

In [6]:
my_dictionary = dict()
my_dictionary = {'k1':'v1','k2':'v2','k3':'v3'}
my_dictionary

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [7]:
my_dictionary['k1']

'v1'

In [8]:
prices_lookup = {'apple': 20,'orange':30}
prices_lookup['apple']

20

In [10]:
d = {'k1': ['a','b','c'],'K2':'B'}
d['k1'][2].upper()

'C'

In [11]:
d.items()

dict_items([('k1', ['a', 'b', 'c']), ('K2', 'B')])

In [12]:
d.values()

dict_values([['a', 'b', 'c'], 'B'])

In [13]:
g = {'k1':1,'k2':2,'k3':3}
for items in g:
    print(items)

k1
k2
k3

In [14]:
for items in g.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [15]:
for key,value in g.items():
    print(key)

k1
k2
k3

In [16]:
for key,value in g.items():
    print(value)

1
2
3

Tuples:

In [55]:
t = ('a','b','c','a')
t.count('a')

2

In [54]:
t.index('b')

1

Sets:
Unique Value pairs

In [1]:
myset = set()
myset

set()

In [2]:
myset.add(1)
myset

{1}

In [3]:
myset.add(2)

In [4]:
myset.add(2)

In [5]:
myset

{1, 2}

In [6]:
lst = [1,1,1,2,2,2,3,3,3]
set(lst)

{1, 2, 3}

In [7]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [1]:
mylist = [(1,2),(3,4),(4,5),(6,7)]
len(mylist)

4

In [2]:
for a,b in mylist:
    print(a)

1
3
4
6

In [3]:
for a,b in mylist:
    print(b)

2
4
5
7